@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* || VARIABLES */
:root {
    /* FONTS */
    --FF: "Roboto", sans-serif;
    --FS: 1.5rem;
    --FS-XL: 3rem;

    /* BACKGROUND */
    --BG-COLOR: #8b91ad;
    --ALT-BG: #0e1740;
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: #000;

    /* GENERAL */
    --PADDING: 1rem;
    --BORDER: 2px solid #000;
    --SHADOW: 0 6px 5px -5px #000;

    /* SQUARE STLYE */
    --SQUARE: max(150px, 20vw);
    --SQUARE-BG-COLOR: papayawhip;

}

@media (prefers-color-scheme: light) {
    :root {
        --BG-COLOR: #000000;
        --ALT-BG: #333;
        --LIGHT-COLOR: rgb(215, 215, 215);
        --DARK-COLOR: #000;
        --SQUARE-BG-COLOR: rgb(248, 200, 248);
    }
}






/* || UTILITY CLASSES */


/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    font: var(--FF) var(--FS);
    min-height: 100vh;
    background-color: var(--BG-COLOR);
    background-image: radial-gradient(#fff, var(--BG-COLOR));
    display: flex;
    flex-direction: column;
}



header, footer {
    font: var(--) var(--FS-XL);
    position: sticky;
    background-color: var(--ALT-BG);
    color: var(--LIGHT-COLOR);
    text-align: center;
}

header {
    top: 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: min(4vw, 15px);
    padding: 2rem;
}

nav {
    background-color: var(--LIGHT-COLOR);
    font-size: var(--FS);
    box-shadow: var(--SHADOW);
}

nav a {
    color: var(--DARK-COLOR);
    text-decoration-line: none;
}

 /* || FEAUTURE */
 .square--highlight {
    --SQUARE-BG-COLOR: cornflowerblue;
}

.square {
    width: var(--SQUARE);
    height: var(--SQUARE);
    background-color: var(--SQUARE-BG-COLOR);
    font-size: var(--FS-XL);
    display: grid;
    place-content: center;
    border-radius: 10px;
    border: var(--BORDER);
    box-shadow: var(--SHADOW);
}






/* || SMALL */
@media screen and (min-width: 576px) {
    
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    
}


/* || LARGE */
@media screen and (min-width: 992px) {
    
}


/* || XL */
@media screen and (min-width:1200px) {
    
}

/* || MOBILE DEVICE LANDSCPACE */
@media screen and (max-height: 425px) {
    
}

